<%= form_for @rating, url: wine_ratings_path do |f| %>

<div class="form-group">
  <label>Wine Name</label><br>
  <% wines_arr = Wine.all.map { |wine| [wine.name, wine.id] } %>
    <%= f.select :wine_id, options_for_select(wines_arr, selected: params[:wine_id] || nil), include_blank: true, :prompt => 'Select Wine Name' %>
</div>
<div class="form-group">
  <label>Rating</label><br>
  <%= f.number_field :star %>
</div>
<div class="form-group">
  <label>Notes</label><br>
  <%= f.text_area :note %>
</div>
  <%= f.submit "Add New Rating", class:'btn btn-primary' %>
<% end %>
