<style>
  .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
</style>

<% wine = Wine.find_by(id: params[:wine_id]) %>
<br>
<h1><%= wine.name %> - <%= wine.vintage %> Ratings</h1>
<h5><%= link_to "Want to add a Rating?", new_wine_rating_path %></h5>
<br>

  <% @ratings.each do |rating| %>

  <div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Rating - <%= rating.star %> points</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Last updated <%= rating.updated_at.strftime("%B %e, %Y") %></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Notes</h5>
    <p class="card-text"><%= rating.note %></p>
  </div>
</div>
<br>


<% end %>
