
<h1><%= @wine.name %></h1><br>
<h5><%= link_to "View all wine ratings?", wine_ratings_path(@wine) %></h5><br>
  <div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Rating - <%= @rating.star %> points</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Last updated <%= @rating.updated_at.strftime("%B %e, %Y") %></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Notes</h5>
    <p class="card-text"><%= @rating.note %></p>
  </div>
</div>
