<% if @wine.errors.any? %>
  <div class="fields_with_errors">
    <ul>
    <% @wine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@wine) do |f| %>
<div class="form-group">
  <label>Name</label><br>
  <%= f.text_field :name %><br>
</div>
<div class="form-group">
  <label>Vintage</label><br>
  <%= f.number_field :vintage %><br>
</div>
<div class="form-group">
  <label>Rating</label><br>
  <%= f.fields_for :ratings_attributes do |f| %>
    <%= f.number_field :star, :value => Rating.get_rating(@wine, current_user)%>
  <% end %><br>
</div>

<div class="form-group">
  <label>Purchase Date</label><br>
  <%= f.fields_for :users_wines_attributes do |g| %>
    <%= g.date_select :purchase_date %>
  <% end %>
</div>

  <%= f.submit "Add New Wine", class:'btn btn-primary' %>
<% end %>
