<br>
<h1>My Wine Collection</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
      <th scope="col">Purchase Date</th>
      <th scope="col">My Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |wine| %>
    <tr>
      <th scope="row"><%= wine.id %></th>
      <td><%= wine.name %></td>
      <td><%= wine.vintage %></td>
      <td><%= UsersWine.find_date_purchased(wine, current_user) %></td>
      <td><%= wine.ratings.map {|f| f.star }.join ', ' %></td>



    </tr>
      <% end %>
  </tbody>
</table>
