
<% if params[:search] %>
<h1>Search Results For: <%= params[:search] %></h1>
<% else %>
<br>
<h1>All Wines</h1>
<br>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
      <th scope="col">User Count</th>
      <th scope="col">Star Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |wine| %>
    <tr>
      <th class="wineInfo" scope="row"><%= wine.id %></th>
      <td><%= wine.name %></td>
      <td><%= wine.vintage %></td>
      <td><%= wine.users.size %></td>
      <td><%= wine.ratings.map {|rating| rating.star.to_s }.join(", ") %></td>




    </tr>
      <% end %>
  </tbody>
</table>
