<br>
<h1>Wine Chateau Ratings</h1>
<br>


<% @ratings.each do |rating| %>
<% wine = Wine.find_by(params[:wine_id]) %>
<div class="card w-75">
  <div class="card-body">
    <h3 class="card-title"><%= wine.name %> - <%= wine.vintage %></h3>
    <p class="card-text"><h4>Rating: <%= rating.star %>/100</h4></p>
    <a href="#" class="btn btn-primary">Button< /a>
  </div>
</div>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Vintage</th>
      <th scope="col">Rating</th>
      <th scope="col">View/Edit Rating</th>
      <th scope="col">View/Edit Wine</th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
    <tr>
      <% @rating_wine = Wine.find_by(id: rating.wine_id) %>
      <th scope="row"><%= @rating_wine.id %></th>
      <td><%= @rating_wine.name %></td>
      <td><%= @rating_wine.vintage %></td>
      <td><%= rating.star %></td>
    <td><%= link_to "View Rating", wine_rating_path(@rating_wine, rating) %></td>
    <td><%= link_to "View/Edit Wine", edit_wine_path(@rating_wine) %></td>
      <% end %>
  </tbody>
</table>
